<!-- <h1> Form for comment </h1> -->
<%= form_for [ @article, @article.comments.new], remote: true, html: {id: "create-comment-form"} do |f| %>
  <fieldset class = "form-group">
    <ol>
      <li class= "form-group">
        <%= f.text_area :body, rows: 2, cols: 60, placeholder: "Write a comment...", id: "comment-body", class: "form-control" %>
      </li>
      <li class= "form-group">
        <%= f.submit 'Post Comment',id: "post-comment", class: 'btn btn-info' %>
      </li>
    </ol>
  </fieldset>
<% end %>
